$app-max-width: 700px;
$primary:#00d1b2;

$tablet: $app-max-width;
$desktop: $app-max-width;
$widescreen: $app-max-width;
$fullhd: $app-max-width;

$input-focus-border-color: $primary;
$tabs-link-active-color: $primary;
